/* ===========================
   ログイン
=========================== */

.login-container {
    width: 360px;

    margin: 100px auto 0;

    background: var(--bg-card);

    padding: 40px;

    border: 1px solid var(--border);
    border-radius: 10px;

    text-align: center;
}

.login-container h1 {
    color: var(--text-main);
    margin-bottom: 10px;
}

.subtitle {
    color: var(--text-muted);
    margin-bottom: 30px;
}